* {
    margin: 0;
}

header h1 {
    /* border: solid 1px blue; */
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;


}

.titulo_pag {
    font-family: 'Bebas Neue', sans-serif;
}

#logo {
    display: inline-block;
    /* border: solid 1px; */
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

header {
    /* border: solid 1px #000000; */
    z-index: 1000;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul li {
    display: inline-block;
    /* border: red solid 1px;  */
    font-size: 30px;
    margin-left: 4vh;
    font-family: 'Bebas Neue', sans-serif;
}

nav {
    display: inline-block;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); Sombra suave abaixo da nav */
    padding: 10px 0;
    /* Adiciona um pequeno espaçamento */
}

nav ul {
    margin-left: 90vh;
}

main {
    display: block;
}

#imagem_meio {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    /* border: solid 5px; */
    padding-top: 150px 0;
    margin-left: 30px;
    margin-bottom: 100px;
}

#imagem_meio img {
    max-width: 100%;
    max-height: 100%;
    /* margin-left: 50px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombra suave abaixo da nav */
}


#esquerda_direita {
    /* border: solid; */
    display: flex;
}

#parte_esquerda {
    /* border: 1px solid; */
    display: inline-block;
    /* padding-bottom: ; */
}

#titulo_texto {
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: green;
}

#titulo_texto2 {
    margin-left: 30px;
    font-size: 40px;
    color: #013183;
    margin-bottom: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

#conteudo {
    display: inline-block;
    /* border: solid; */
    font-size: 30px;
    max-width: 500px;
    margin-left: 30px;
    /* text-align: left; */
    /* font-family: be; */
    max-height: 100%;
    margin-bottom: 50px;
    font-family: 'Bebas Neue', sans-serif;


}

#conteudo p {
    white-space: normal;
    /* Permite que o texto quebre automaticamente quando atingir o final do contêiner */
    word-wrap: break-word;
    /* Garante que palavras muito longas sejam quebradas */
    overflow-wrap: break-word;
    /* Compatibilidade com navegadores modernos */
    width: 100%;
    /* Certifique-se de definir a largura do contêiner */
}

.foto_direita {
    display: inline-block;
    /* border: solidy 2px; */
    width: 60%;
    margin-left: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    height: 0%;
    border-radius: 20px;
}

.foto_direita img {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    /* padding: 150px 0; */
    /* max-height: auto; */
    /* margin-left: 30px; */
    object-fit: cover;
    border-radius: 20px;
}

.botoes {
    background-color: #013183;
    color: white;
    width: px;
    font-size: 40px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* color: green; */
}

#botao_planos {
    margin-left: 30px;
    margin-top: 40px;
}

.linha {
    width: 95%;
    /* Ajuste para o tamanho desejado */
    height: 3px;
    background-color: black;
    margin: 10px auto;
    /* Pequeno espaço nas laterais */
    margin-top: 0;
    margin-bottom: 150px;
}

#espaco_horario {
    height: 600px;
    margin-bottom: 100px;
    border-radius: 20px;
    width: 1200px;
    /* Certifique-se de que ocupa toda a largura disponível */
    /* margin-left: 13px; */
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    /* Garantir que a imagem pode ser posicionada corretamente */
}

#melhor {
    background-image: url(imagens/melhor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Garantir que a imagem preenche o espaço sem distorcer */
    background-position: center center;
    /* Centralizar a imagem */
    height: 100%;
    /* Ocupa toda a altura do contêiner */
    width: 100%;
    /* Ocupa toda a largura do contêiner */
    border-radius: 20px;
    margin-right: 20px;
}

#imagem_horario {
    background-image: url(imagens/horario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Garantir que a imagem preenche o espaço sem distorcer */
    background-position: center center;
    /* Centralizar a imagem */
    height: 100%;
    /* Ocupa toda a altura do contêiner */
    width: 100%;
    /* Ocupa toda a largura do contêiner */
    border-radius: 20px;
    margin-right: 20px;
}

#imagem_natacao {
    background-image: url(imagens/Captura\ de\ tela_6-3-2025_163419_www.instagram.com.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Garantir que a imagem preenche o espaço sem distorcer */
    background-position: center center;
    /* Centralizar a imagem */
    height: 100%;
    /* Ocupa toda a altura do contêiner */
    width: 100%;
    /* Ocupa toda a largura do contêiner */
    border-radius: 20px;
    margin-right: 20px;
}

#botao_servicos {
    margin-left: 0%;
    margin-bottom: 150px;
}

#container_2 {
    width: 95%;
    /* Mesmo tamanho da linha */
    margin: 0 auto;
    /* Centraliza na página */
    display: flex;
    /* Para alinhar os serviços lado a lado */
    justify-content: center;
    /* justify-content: space-between; Distribui os serviços igualmente */
}

.servicos {
    height: 500px;
    display: inline-block;
    margin-left: 0px;
    /* border: solid; */
    justify-content: center;
    text-align: center;
    /* border: solid; */
    margin-bottom: 100px;
    width: 500px;
}

.servicos h1 {
    margin-top: 70%;
    font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    ;
}

.servicos p {
    margin-top: 40px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

#box {
    background-image: url(imagens/parte1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#natacao {
    background-image: url(imagens/parte2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* #danca{
background-image: url(imagens/danca-academia.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
} */

/* Site 2 */

#imagem_centro {
    /* background-color: #013183; */
    background-image: url(imagens/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
    padding-top: 100px;
}

#conheca h1 {
    text-align: center;
    margin-top: 600px;
    font-size: 70px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

#planos {
    display: flex;
    /* border: solid; */
    margin-top: 600px;
    margin-left: 100px;
    max-width: 90%;
    /* justify-content: space-between; */
    margin-bottom: 100px;
}

.faixa_planos {
    width: 27%;
    /* Ou a largura que você deseja */
    height: 500px;
    position: relative;
    /* Permite que elementos dentro sejam posicionados em relação a este contêiner */
    margin-left: 50px;
    border: solid 1px gray;
    text-align: center;
    /* background-color: #D9D9D9; */
    border-radius: 5%;
    background-color: #033843;
    color: white;
}

.faixa_planos h1 {
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.faixa_planos h2 {
    font-size: 15px;
    /* text-align: center; */
    /* padding-left: 30px; */
    padding-top: 40px;
}



.lista ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.lista ul li {
    /* text-align: left; */
    margin-bottom: 20px;
    margin-top: 20px;
}

#texto_planos {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

#outros_servicos {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    font-family: 'Bebas Neue', sans-serif;
}

#sobre {
    display: flex;
    /* border: solid; */
    margin-bottom: 150px;
}

#texto {
    /* border: solid; */
    width: 530px;
    background-color: #02BFE4;
    height: 395.5px;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
}

#texto h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;

}

#sobre_titulo {
    margin-top: 50px;
    font-size: 50px;
}

#texto p {
    width: 50%;
    /* border: solid; */
    margin-left: 120px;
    height: 40;
    word-wrap: break-word;
    white-space: normal;
    color: white;
    background-color: #013183;
    padding: 20px;
    border-radius: 50px;

}

#img_sobre {
    display: inline-block;
    height: 400px;
    width: 530px;
}

#img_sobre img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#sobre_dois {
    display: flex;
    flex-direction: row-reverse;
    /* Inverte a ordem dos elementos */
    /* border: solid; */
    justify-content: flex-end;
    /* Alinha os elementos à direita */
    /* position: absolute; */
    right: 0;
    margin-bottom: 150px;
    margin-left: 500px;
}

#texto_dois {
    /* border: solid; */
    width: 530px;
    background-color: #07275A;
    height: 395.5px;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
}

#texto_dois h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

#sobre_titulo_dois {
    margin-top: 50px;
    font-size: 50px;
}

#texto_dois p {
    width: 50%;
    /* border: solid; */
    margin-left: 120px;
    height: 40;
    word-wrap: break-word;
    white-space: normal;
    color: white;
    background-color: #013183;
    padding: 20px;
    border-radius: 50px;

}

#img_sobre_dois {
    display: inline-block;
    height: 400px;
    width: 530px;
}

#img_sobre_dois img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    /* Agora arredonda o lado esquerdo */
    border-bottom-left-radius: 40px;
}



body {
    height: 100vh;
    margin: 0;
}

header h1 {
    display: inline-block;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

header {
    border: solid 1px #000000;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #ffffff;
}

nav ul li {
    display: inline-block;
    font-size: 30px;
    margin-left: 4vh;
    color: #000000;
}

nav {
    display: inline-block;
}

nav ul {
    margin-left: 90vh;
}


header {

    z-index: 1000;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul li {
    display: inline-block;

    font-size: 30px;
    margin-left: 4vh;
    font-family: 'Bebas Neue', sans-serif;


}

nav {
    display: inline-block;

    padding: 10px 0;
}

nav ul {
    margin-left: 90vh;
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

header h1 {

    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;


}

header {

    z-index: 1000;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* position: fixed; */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul li {
    display: inline-block;

    font-size: 30px;
    margin-left: 4vh;
    font-family: 'Bebas Neue', sans-serif;
    /* border: solid; */


}

nav {
    display: inline-block;

    padding: 10px 0;
}

nav ul {
    margin-left: 50px;
    /* border: solid; */

}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

header {
    /* height: 5%; */
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 150%;
    display: flex;
    gap: 20px;
    /* border: solid; */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 0;
}

footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.social-links a:hover {
    text-decoration: underline;
}

#titulo {
    background-color: #000;
    text-align: center;
    color: #fff;
}

#ti {
    font-family: 'Bebas Neue', sans-serif;
    margin: 30px;
    font-size: 30px;
    text-align: center;
}

#til {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    padding: 20px;

}

/* Rodapé atualizado */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.footer-content .mapa-site {
    display: flex;
    gap: 15px;
}

.footer-content .mapa-site a {
    color: #114298;
    text-decoration: none;
    font-size: 14px;
}

.footer-content .mapa-site a:hover {
    text-decoration: underline;
}

.newsletter {
    margin-top: 10px;
}

.newsletter input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.newsletter button {
    padding: 8px 12px;
    background-color: #114298;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.newsletter button:hover {
    background-color: #114298;
}

.horarios {
    font-size: 14px;
}

.mapa {
    margin-top: 10px;
}

#titulo_da_logo {
    color: #114298;
}

#carro {
    font-size: 20px;

}